@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  ngx-chartjs-pie,
  ngx-chartjs-bar,
  ngx-chartjs-line,
  ngx-chartjs-multiple-xaxis,
  ngx-chartjs-bar-horizontal,
  ngx-chartjs-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
 

    /deep/ .dateRange{
      margin-right: 4vh;
      margin-top: 4vh;
      margin-left: 26vh !important;
     
      
    }




  }

  .summary-container {
    margin-top: 5vh;
    display: flex;
    flex: 1;
    background-color: nb-theme(chart-panel-summary-background-color);
    box-shadow: nb-theme(chart-panel-summary-box-shadow);
    justify-content: space-between;
    padding: 1.5rem 4rem 1rem;
    margin-bottom: 1rem;
    border:
      nb-theme(chart-panel-summary-border-width)
      solid
      nb-theme(chart-panel-summary-border-color);
    border-left: none;
    border-right: none;
  }

  .value {
    font-size: 1rem;
    margin-top: 6px;
    color: nb-theme(color-fg-heading);
  }

  .title {
    font-size: 1.1rem;
  }
  @include media-breakpoint-down(sm) {
    .value, .title {
      font-weight: nb-theme(font-weight-bold);
    }

    .title {
      font-size: nb-theme(font-size-sm);
    }

    .value {
      font-size: nb-theme(font-size-xlg);
    }
  }

  @include media-breakpoint-down(is) {
    .summary-container {
      padding-left: nb-theme(padding);
      padding-right: nb-theme(padding);
    }

    .value {
      margin-top: 1rem;
    }
  }
}
