

  <div class="filterChart" >
    <h6>
    Graph Type
    </h6>
  
    <select  [(ngModel)]="selectedChart" (ngModelChange)="onChangeChart($event)">
      <option *ngFor="let chart of charts" [value]="chart.value"
      [selected]="chart.value == selectedChart">{{chart.name}}</option>
  </select>
    </div>
  
    <div class="filter">
    <h6>
    Filter by Month
    </h6>
  
    <select  [(ngModel)]="selectedItem" (ngModelChange)="onChangeMonth($event)">
      <option *ngFor="let date of timeline" [value]="date.value"
      [selected]="date.value == selectedItem">{{date.name}}</option>
  </select>
    </div>
    
    <div class="filterWeek" *ngIf="selectedItem < 12" >
    <h6>
    Filter by Week
    </h6>
  
    <select  [(ngModel)]="selectedWeek" (ngModelChange)="onChangeWeek($event)">
    <option  [value]="0" disabled selected> Select week</option>
      <option *ngFor="let week of weeks" [value]="week.value">{{week.name}}</option>
  </select>
    </div>

    <div class="dateRange" >
      <h2>
    Total flights: {{total}}
      </h2>
 
      </div>

  
      <div class="summary-container">
        <div class="summory" *ngFor="let item of summary">
          <div *ngIf="item.size != 0">
              <div class="title" >{{ item.name }}</div>
              <div class="value" >{{ item.size }}</div>
            </div>
            <div *ngIf="item.size == 0">
                <div class="title" >{{ item.name }}</div>
                <div class="value" >Next month</div>
              </div>
      
        </div>
      </div>
  
      <chart #chart1 [type]="selectedChart" [data]="data" [options]="options"></chart>