@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }

  /deep/ .filter select{
    height: 6vh;
  width: 24vh;
  background: transparent;
  color: white;
  
  }

  /deep/ .filter{
    margin-right: 4vh;
    float:left
  }

  /deep/ .filterChart select{
    height: 6vh;
  width: 24vh;
  background: transparent;
  color: white;
  
  }

  /deep/ .filterChart{
    margin-right: 4vh;
    float:left
  }


    /deep/ .filterChart{
    margin-right: 4vh;
    float:left
  }

  /deep/ .filterWeek{
    margin-right: 4vh;
    float:left;

  }


  /deep/ .dateRange{
    margin-right: 4vh;
    margin-top: 4vh;
    margin-left: 26vh !important;

    h2{
      margin-left: 70%;
      font-size: 3.4vh;
    }
    
  }


  /deep/ .filterWeek select{
    height: 6vh;
  width: 30vh;
  background: transparent;
  color: white;
  }

  /deep/ csv2json button{
    background: #0f849a !important;
  }

  /deep/ .homeChart1 chart{
    margin-top: 8vh;
    height: 67vh;
  }
}
