 <div class="col-md-12">
      <nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Uploading" >
          <nb-card-body>
              

            <span> How many flights are there each day of the week? From which air carriers?  </span>

            <span  *ngIf="csvData.labels == null" > Please upload flight csv  </span>
            <br>  <br> 
              <csv2json (click)="toggleLoadingAnimation()"
              [btnText]="'Upload csv'"
              [errorMsg]="'custom error msg'"
              (response)='onUpload($event)'
           ></csv2json>

          </nb-card-body>
        </nb-card>

        <div class="col-lg-12"   *ngIf="csvData.labels != null"
        >
          <nb-card style="height: 120vh">
            <nb-card-header>
              Bureau of Transportations flights in 2015

              
            </nb-card-header>
            <nb-card-body>
              <ngx-chartjs-line  class="homeChart1"></ngx-chartjs-line>
            </nb-card-body>
          </nb-card>
        </div>
  </div>

